examples/simple-step-workflow/workflow/workflow.json
{
    "Comment": "An example workflow which has 1 orchestrator step",
    "StartAt": "SetActivities",
    "States": {
        "SetActivities": {
            "Type": "Pass",
            "Result": {
                "Step1": "",
                "Step2": ""
            },
            "ResultPath": "$.stages",
            "Next": "SetWorkflow"
        },
        "SetWorkflow": {
            "Type": "Pass",
            "Result": "SimpleActivityWorkflow",
            "ResultPath": "$.metadata.workflow",
            "Next": "SetStatusStages"
        },
        "SetStatusStages": {
            "Type": "Task",
            "Resource":"${initializeArn}",
            "Next":"Step1Start"
        },

        "Step:Step1": "Step1",

        "Step1Error": {
            "Type": "Fail"
        },
        "Step1Complete": {
            "Type":"Pass",
            "Next": "Step2Start"
        },

        "Step:Step2": "Step2",

        "Step2Error": {
            "Type": "Fail"
        },
        "Step2Complete": {
            "Type":"Pass",
            "End": true
        }
    }
}